*{
    margin:0;
    padding:0;
}
body{
    font-family:arial;
}
    header{
        height:70px;
       
    }

    header h2{
        float: left;
        padding: 20px 70px;
        text-transform:uppercase;
        font-weight:bold;
        font-size: 25px;
       
    }

    header h2 a {
        text-decoration: none;
        color: black
    }

    header h2 a:hover {
        color: rgba(50, 56, 53, 0.8);
       
    }

    header ul{
        float:right
    }

    header ul li{
        padding: 24px;
        display: inline-block;
        position: relative;
       right: 100px;
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        opacity: 80%;
    }

    header ul li a {
        
        text-decoration: none;
        color: black;
        padding: 5px;
        border-radius: 10px;
        
    }

    header ul li a:hover{
        background-color: grey;
        opacity: 100%;
        color: white;
        
    }

    .header-con{
        width:100%;
        margin: 0 auto;
    }

    .header-con:after{
        display:block;
        content: "";
        clear:both;
    }
    .mobile{
        float:right;    
        padding:10px;
      
        display: none;
        position: relative;
        
        
    }

    .mobile:hover{
        cursor:pointer;
    }



    .sidebar{
        position: fixed;
        width: 300px;
        height: auto;
        top: 0;
        left: -300px;
        bottom: 0;
        padding:0;
        background-color: rgb(255, 255, 255);
        z-index: 1;
        border-radius: 10px;
        opacity: 1;
        transition: 0.5s;
  
    }.sidebar ul{
        margin-top: 50%;
    }

    .sidebar ul li a{
        color:black;
    }

    .sidebar ul li {
        padding: 15px;
        list-style: none;

        
    }
    .sidebar ul li:hover{
        background-color: rgb(59, 48, 48);
    }
    #test:checked ~.sidebar{
        left:0;
    }

        .banner img{
            width:20%;
            height: 200px;
            border-radius:5px;
            box-shadow: 0px 1px 1px black;
            position: relative;
            right: 100px;
        }

        section {
            background-color: white;
        }

        .banner{
            position: relative;
            width: 100%;
            height: 300px;
            border-radius: 10px;

        }.banner span{
            color: rgb(180, 171, 171);
        }.banner h4{
            color: rgb(192, 15, 15);
        }
    .header{
            width: 100%;
        }.greeting{
            background-color: rgb(26, 26, 26);
            height: auto;
            padding: 30px;
            width: 800px;
            border-radius: 80px 0px 80px 0px;
            margin-left: 30px;
            margin-top: 30px;
        }.greeting p{
            font-size: 18px;
            font-weight: bold;
        }
        .banner h2, .banner p {
            color: white;
            font-family: sans-serif;
        }

        section h3 {
            padding-bottom:20px;
            text-align:center;
            margin:20px;
            position: relative;
        }

        section h3:before{
            content:'';
            display:block;
            position:absolute;
            bottom:0;
            width:120px;
            height:2px;
            background-color: rgba(30, 140, 167, 0.8);
            left:  calc(50% - 60px);
        }

        section h3:after{
            content:'';
            display:block;
            position:absolute;
            bottom:0;
            width:60px;
            height:2px;
            background-color: rgb(7, 77, 226);
            left:  calc(50% - 30px);
        }

         .about p {
            text-align:center;
            text-indent:30px;
            line-height: 25px;
        }


        .skill{
            background-color: rgb(26, 26, 26);
            color: white;
            width: 100%;
            padding: 20px;
            border-radius: 30px;
            text-align: center;
        }

        #skill .bar{
            height: 30px;
            margin: 10px 0 30px 0;
            border-radius: 20px;
            width: 100%;

        }

        .bar .nilai{
            height: 30px;
            display: inline-block;
            background-color:rgba(240, 244, 245, 0.93);
            border-radius: 20px;
            padding: 5px;
        }

        .bar  span{
            color:black;
            text-align: center;
            font-weight: bold;

        }

        .html{
            width: 90%;
        }
        .css{
            width: 80%;
        }

        .js{
            width: 70%;
        }

        .php{
            width: 70%;
        }
        .figma{
            width: 85%;
        }
        .pts{
            width: 70%;
        }
/* 
        PUNYA PROTOFOLIO  */
        input{
            display: none;
        }
        #check1:checked ~.container1 .container-gambar .pic-2{
            opacity: 1;
            transform: scale(1);
            position: relative;
            transition: .5s;
        }
        #check2:checked ~ .container1 .container-gambar .foto2{
            opacity: 1;
            transform: scale(1);
            position: relative;
            
        }
        #check2:checked ~ .container1 .container-gambar .foto1,
        #check2:checked ~ .container1 .container-gambar .foto3{
            opacity: 0;
            transform: scale(0);
            position: absolute;
           

        }
    
        #check3:checked ~ .container1 .container-gambar .foto3{
            opacity: 1;
            transform: scale(1);
            position: relative;
            
        }
        #check3:checked ~ .container1 .container-gambar .foto2,
        #check3:checked ~ .container1 .container-gambar .foto3{
            opacity: 0;
            transform: scale(0);
            position: absolute;
           

        }
        .navbar-porto{
            height: 60px;
            width: 100%;
            text-align: center;
            margin: 0 auto 20px auto;
            position: relative;
            font-size: 25px;
            font-weight: normal;
            display: flex;
            background-color: rgb(240, 238, 238);
            align-items: center;
            border-radius: 5px;
            box-shadow: 3px 3px 3px lightgray;
        }
        .navbar-porto h2{
            height: 60px;
            background-color: rgb(221, 221, 221);
            line-height: 60px;
            color: white;
            padding: 0 20px;
            margin-top: auto;
            
        }
        .navbar-porto label{
            display: inline-block;
            width: 100%;
            height: 60px;
            padding: 0 10px;
            line-height: 60px;
            margin: 0 50px;
            color: gray;
            cursor: pointer;
            transition: 0.5s;
            font-size: 18px;
        }
        .navbar-porto label:hover{
            color: black;
        }

        .container-gambar{
            width: 90%;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-gap: 30px 10px;
            margin-top: 50px;
            background-color: rgb(26, 26, 26);
            padding: 50px;
            height: auto;
            border-radius: 20px;
        }
        .pic{
            position: relative;
            height: 300px;
            text-align: center;
            width: 300px;
            left: 10%;
            box-shadow: 2px 2px 2px 2px white;
            border-radius: 10px;
        }
        .pic img{
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }#portofolio p{
            font-size: 23px;
            text-align: center;
            background-color: rgb(255, 255, 255);
            width: auto;
            position: relative;
            align-items: center;
            left: 100%;
            border-radius: 10px;
            color: rgb(12, 12, 12);
            box-shadow: 2px 2px 2px  grey;
            margin-top: 20px;
        }#portofolio a {
            color: rgb(26, 26, 26);
        }#portofolio p:hover{
            background-color: grey;
        }.contact{
            width: 90%;
            background-color: rgb(26, 26, 26);
            position: relative;
            left: 5%;
            padding: 20px;
            border-radius: 10px;
        }.alamat{
            position: relative;
            left: 5%;
            color: black;
            margin-right: 5px;
            background-color: white;
            box-shadow: 2px 2px 2px grey;
        }.alamat a {
            color: black;
        }.alamat a:hover{
            color: blue;
        }

        /* punya portofoolio  */

        .pic2{
            position: relative;
            height: 230px;
            text-align: center;
            transition: .5s;
            color: white;
            font-weight: bold;
            margin: auto;
        }
        .pic2 img{
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }
        .pic2:hover{
            transition: 0.5s;
            transform: scale(1.2);
            opacity: 0.5;
        }


        /* SAMPE SINI */

        .pic::before{
            content: "PORTOFOLIO";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            color: white;
            font-weight: bold;
            width: 100%;
            margin-top: -100px;
            opacity: 0;
            transition: .3s;
            transition-delay: .2s;
            z-index: 1;
        }
        .pic::after{
            content: "";
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            border-radius: 10px;
            height: 0;
            background-color: rgba(0, 0, 0,.4);
            transform: .3s;
        }
        .pic:hover::after{
            height: 100%;
        }
        .pic:hover::before{
            margin-top: 0;
            opacity: 1;
        }




        .col-3 {
            width: 30.30%;
            box-sizing: border-box;
            float: left;
            text-align: center;
            border: 1px solid black;
            border-radius: 6px;
            padding: 15px;
            margin-bottom: 5px;
        }

        .col-3 h4{
            padding-bottom: 10px;
            border-bottom: 1px solid black;
            margin-bottom: 15px;
        }
        a{
            text-decoration: none;
        }

        .col-2{
            width: 20%;
        }

        #tools img{
            width: 20%;
        }
        footer{
            background-color: black;
            margin-top: 50px;
            height: 40px;
            color: white;
            text-align: center;
            font-size: 18px;
            padding-top: 20px;
        }

        html{
            scroll-behavior: smooth;
        }
        
        .button-header button{
            border-radius: 10px;
            background-color: rgba(21, 176, 95, 0.8);
            border: 1px solid white;
            box-shadow: 1px 1px 1px white;
        }
        .button-header a{
            color: white;
            padding: 5px;
        }
        .button-header button:hover{
            background-color: aquamarine;
        }


        @keyframes fadeIn{
            to {
                opacity: 1;
            }
        }

        .fade{
            opacity: 0;
            animation: fadeIn 0.5s forwards;
        }

        .active{
            opacity: 0.5;
        }

        .banner-about{
            background-color:  rgb(54, 53, 54);
            color: white;
            font-size: 15px;
            padding: 20px;
            width: 100%;
        }
        .intro-about{
            font-size: 18px;
        }

        @media (max-width: 768px){
            .mobile{
                display: block;
                position:fixed;
                left: 80%;
            }.header-con{
                position: fixed;
                background-color: white;
                width: 109%;
                z-index: 2;
            }.header-con h2{
                font-size: 18px;
            }
            header ul{
                display:none;
            }.container-gambar{
                width: 100%;                
                display: grid;
                grid-template-columns: repeat(1,1fr);
                margin: auto;
        
               
            }.pic{
                width: auto;
                height: auto;
             
             
            }.pic img{
                width: 100%;
            }
            #portofolio p{
                font-size: auto;
                text-align: center;
                background-color: rgb(255, 255, 255);
                width: auto;
                position: relative;
                left: auto;
                border-radius: 10px;
                color: rgb(26, 26, 26);
                box-shadow: 2px 2px 2px  grey;
                margin-top: 20px;
                margin: auto;
            }.col-3{
                width: 100%;
                text-align: center;
            
            }.contact{
                width: 90%;
                position: relative;
                left: 10%;
                border-radius: 20px;
                
            }.alamat{
                left: 0;
            }
            footer{
                display: none;
            }.col-2{
                width: 20%;
                transform: translate(0,0);
                margin-top: 20px;
            }#tools img{
                width: 20%;
                text-align: center;
                margin-left: 40%;
            }.intro-about{
                margin-top: 50px;
            }.navbar-porto h2{
                display: none;
            }.navbar-porto label{
                font-size: 15px;
                margin: 2px 2px;
                
            }.banner{
                width: 100%;

            }.greeting {
                font-size: 12px;
                width: 100%;
                height: auto;
                
            }.greeting p{
                color: white;
                font-size: 12px;
                font-size: 16px;
            }
            .navbar-porto{
                width: 100%;
           }.img-index span{
             width: 90%;
           }.sidebar{
            width: 300px;
           };
            
        }
        
            @media (max-width: 960px){
                .mobile{
                    display: block;
                    position:fixed;
                    left: 80%;
                }.header-con{
                    position: fixed;
                    background-color: white;
                    width: 109%;
                    z-index: 2;
                }.header-con h2{
                    font-size: 18px;
                }
                header ul{
                    display:none;
                }.container-gambar{
                    width: 100%;                
                    display: grid;
                    grid-template-columns: repeat(1,1fr);
                    margin: auto;
            
                   
                }.pic{
                  left: 0;
                }
                #portofolio p{
                    font-size: 23px;
                    text-align: center;
                    background-color: rgb(255, 255, 255);
                    width: 200px;
                    position: relative;
                    left: auto;
                    border-radius: 10px;
                    color: rgb(27, 27, 27);
                    box-shadow: 2px 2px 2px  grey;
                    margin-top: 20px;
                    margin: auto;
                }.col-3{
                    width: 100%;
                    text-align: center;
                
                }.contact{
                    width: 90%;
                    position: relative;
                    left: 10%;
                    border-radius: 20px;
                    
                }.alamat{
                    left: 0;
                }
                footer{
                    display: none;
                }.col-2{
                    width: 20%;
                    transform: translate(0,0);
                    margin-top: 20px;
                }#tools img{
                    width: 20%;
                    text-align: center;
                    margin-left: 40%;
                }.intro-about{
                    margin-top: 50px;
                }.navbar-porto h2{
                    display: none;
                }.navbar-porto label{
                    font-size: 15px;
                    margin: 2px 2px;
                    
                }.banner{
                    width: 90%;
                    left: 5%;
                }.greeting {
                    font-size: 12px;
                    width: 100%;
                    height: 300px;
                    bottom: 20px;
                    
                }.greeting p{
                    color: white;
                    width: 60%;
                    font-size: 12px;
                }
                .banner img{
                    left: 0;
                    width: 29%;
                    bottom: 50%;
                    
                }.greeting img{
                    width: 30%;
                    height: 120px;
                    
                } .banner span{
                    font-size: 18px;
                } .banner h2,h4{
                    font-size: 16px;
                }
                .navbar-porto{
                    width: 100%;
               }.img-index span{
                 width: 90%;
               }.sidebar{
                width: 300px;
               };
                }